<div class="main_cont container">
  <div class="row top-cont align-content-center">
    <div class="points-cont col-6 offset-3 col-md-4 offset-md-4"><p class="player">Current player :<span id="playerValue">{{currentPlayer}}</span></p></div>
   
  </div>
  <div class="play-cont">
    <div class="playing-board container"  *ngIf="!gameOver">
      <div class="row">
        <div class="col-4 box" (click)="playerMove(i)" [ngClass]="{'tic': box == 'x', 'tac':box == 'o'}" *ngFor="let box of boxes; index as i" >
          {{box}}
        </div>
      </div>
    </div>
    <div class="gameOver"  *ngIf="gameOver">
      <h2 class="game-over-txt" >Game Over</h2>
      <h2 class="point">{{ 'Winner is ' +  winner}}</h2>
      
    </div>
    <div class="play-agin-cont" *ngIf="gameOver">
      <div class="play-again-btn" (click)="playAgain()">
        Play again
      </div>
    </div>
  </div>
</div>